name: Run tests

on: [push, pull_requests]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9.5'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python3 --version
        pip install pytest
    - name: Test with pytest
      run: |
        pytest