name: Run tests

on: [push, pull_request]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python3 --version
        pip install -r requirements-test.txt
    - name: Test with pytest
      run: |
        pytest